* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    height: 100%;
    background-image: linear-gradient(lightblue, rgb(126, 126, 194));
}

/*********************** header style ****************************/
header {
    display: flex;
    color: white;
    justify-content: space-between;
    margin-top: 15px;
    border-bottom: 2px solid rgb(187, 130, 240);
}

.left-header {
    display: flex;
    padding-left: 20px;
}

.left-header a {
    text-decoration: none;
}

.left-header h1 {
    color: white;
    margin-top: 15px;
    margin-left: 25px;
}

.left-header h1:hover {
    color: darkblue;

}

.right-header {
    padding-right: 17%;
    margin-top: 30px;
}

.right-header a {
    text-decoration: none;
    padding: 0 20px 0 20px;
    font-size: 20px;
    color: white;
}

.right-header a:hover {

    color: darkblue;
}

/*********************** main style ****************************/
main {
    display: flex;
    flex-direction: column;
}

.top-section {
    display: flex;
}

.title-area {
    padding-left: 25px;
    padding-top: 5%;
}

.title-area h2 {
    color: rgb(142, 37, 240);
    ;
    font-size: 2.5rem;
}

.title-area p {
    padding-top: 25px;
    padding-left: 10px;
    font-size: 23px;
}

.img-area {
    padding-left: 50px;
    padding-top: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {

    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item img {
    width: 150px;
}

.bottom-section {
    margin-top: 50px;
    text-align: center;
}

.bottom-section p:nth-child(1) {
    font-size: 40px;
    color: wheat;
}

.bottom-section p:nth-child(2) {
    font-size: 30px;
    color: wheat;
}

.bottom-section img {
    width: 450px;
}

/********************************************** social media icons ********************************/
.social-buttons a {
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    width: 60px;
    height: 60px;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 8px;
}

.social-buttons a::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background: linear-gradient(45deg, #22a6b3, #30336b);
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s ease-in;
}

.social-buttons a:hover::before {
    transform: scale(0);
}

.social-buttons a i {
    transition: 0.3s ease-in;
}

.social-buttons a:hover i {
    background: linear-gradient(45deg, #22a6b3, #30336b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(2.2);
}

/**************************************************** footer style *******************************/
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    height: 180px;
    background-color: blueviolet;
}
.section1-footer{
    margin-left: 30px;
    margin-top: 15px;
    
}
.section1-footer p:nth-child(1){
    font-size: 23px;
    margin-top: 10px;
    color: white;
}
.section1-footer p:nth-child(2){
    font-size: 17px;
    margin-top: 10px;
    color: white;
}
.section1-footer p:nth-child(3){
    font-size: 18px;
    margin-top: 10px;
    color: white;
}

.section1-footer p:nth-child(4){
    font-size: 18px;
    margin-top: 10px;
    
}
.section1-footer p:nth-child(4) a{
    text-decoration: none;
    color: blue;
}
.section2-footer{
    margin-top: 25px;
    margin-right: 30px;
}
.mapouter {
    position: relative;
    text-align: right;
    width: 600px;
    height: 130px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 600px;
    height: 130px;
}

.gmap_iframe {
    width: 400px !important;
    height: 130px !important;
}